*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #DAF7A6 ;
    padding: 15px 30px;
    color: black;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    color: #454545;
    transition: color 0.3s ease;
}

.nav-links li a:hover{
    color:#606060 ;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}